@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: "Concert One", sans-serif;
    font-style: normal;
}

.container{
    width: 1123px;
    height: 794px;
    display: block;
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.bloco{
    width: 1023px;
    height: 694px;
    /* background-color: yellow; */
    overflow: hidden;
    display: block;
    position: relative;
}

.foto-lateral{
    position: absolute;
    left: 0;
    width: 280px;
    height: 694px;
    background-image: url('../assets/fundo-ecomatch.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 20px;
}

.conteudo-direita{
    width: 743px;
    height: 694px;
    position: absolute;
    right: 0;
    /* background-color: red; */
    padding-left: 40px;
}

.topo{
    width: 743px;
    height: 347px;
    /* background-color: blueviolet; */
    overflow: hidden;
    display: block;
    position: relative;
}

.topo h2{
    font-size: 50px;
    color: #F28C0F;
    margin-top: 25px;
}

.traco{
    width: 250px;
    height: 20px;
    background-color: #72AB36;
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.retangulo-nome{
    width: 1123px;
    height: 140px;
    background-color: #72AB36;
    font-size: 35px;
    position: absolute;
    right: 0;
    z-index: 10;
    padding-right: 550px;
    left: 370px;
    top: 260px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textinho{
    display: flex;
    width: 88%;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    right: 0;
    left: 248px;
    top: 235px;
    font-size: 15px;
}


.baixo{
    width: 743px;
    height: 347px;
    /* background-color: rgb(226, 141, 43); */
    display: flex;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de igual largura */
    gap: 25px;
    position: absolute;
    right: 30px;
    bottom: 0;
    
}

.bloco2{
    width: 208px;
    height: 130px;
    background-color: #F28C0F;
    border: 5px solid #F2BC1B;
    margin-top: 35px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.bloco2 .description{
    font-size: 20px;
    color: #ffff;
}

.bloco2 p{
    font-size: 16px;
    color: #0B2F19;
}